/*
	   style.css
	   Techweb12
			   Created by Andrea Pistolesi on 2012-04-24.
	   Copyright 2012 Andrea Pistolesi. All rights reserved.
	*/

body {
	display: block;
	background-color:#333333;
	font-size: 12px;
}

#loctitle{
	font-weight: bolder;
}

#header{
	margin-right: auto;
	margin-left: auto;
	height: 100px;
	width: 80%;
	font-size: 30px;
	background-color: #ffffff;
	
}
#operation{
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
	height: 130px;
	width: 80%;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid;
	
}
#container{
	clear: both;
	margin-right: auto;
	margin-left: auto;
	height: 600px;
	width: 80%;
	background-color: #ffffff;
}
#contentcenter{
	margin-left: 15%;
	width: 70%;
	height: 600px;
}
#mia_mappa {
 	width: auto;
	height: 600px;
  
}
#contentleft{
	float:left;
	width: 15%;
	height: 600px;
}
#contentright{
	float: right;
	width: 15%;
	height: 600px;
}
#box1{
	float:left;
	height: 130px;
	padding-left: 10px;
}
#box2{
	float:left;
	height: 130px;
	padding-left: 30px;
}
#box3{
	float:left;
	height: 130px;
	padding-left: 30px;
}

li {list-style: none;}
ul {list-style-type:none;}

