/*
	   style.css
	   Techweb12
			   Created by Andrea Pistolesi on 2012-04-24.
	   Copyright 2012 Andrea Pistolesi. All rights reserved.
	*/

body {
	background-image:url(images/texture.jpg) !important; 
	background-repeat: repeat;
	display: block;
	min-height: 460px;
	min-width: 750px;
	font-size: 12px;
}

#loctitle{
	font-weight: bolder;
}

#header{
	margin-right: auto;
	margin-left: auto;
	height: 100px;
	width: 80%;
	font-size: 30px;
	background-color: #ffffff;
	
}
#operation{
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	width: 80%;
	font-size: 12px;
	background-color: #ffffff;
	
}
#container{
	clear: both;
	margin-right: auto;
	margin-left: auto;
	height: 550px;
	width: 1000px;
	background-color: #ffffff;
}
#mainTab{
	clear: both;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}
#mia_mappa {
 	width: 100%;
	height: 100%;
}
#box1{
	float:left;
	padding-left: 10px;
}
#box2{
	float:left;
	padding-left: 10px;
}
#box3{
	float:left;
	padding-left: 10px;
}

li {list-style: none;}
ul {list-style-type:none;}
